.main-header {
    width: 100%;
    background-color: #ffffff;
}

.main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.logo {
    flex-basis: 290px;
    padding: 20px;
    width: 250px;
}

.main_header_content_menu {
    flex-basis: calc(100% - 290px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
    padding-right: 100px;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a {
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #2d3142;
    font-size: 1.3em;
}

.main_header_content_menu ul li a:hover {
	text-decoration: underline;
}

.main_cta {
    width: 100%;
    background-image: url('../_img/bg_main_home.png');
    background-color: #2d3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta_content {
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta_content h1 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.main_cta_content p {
	font-size: 1.6em;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	margin: 30px 0;
    padding: 0 100px;
}

.main_cta_content .btn {
	background-color: #d36833;
	color: #ffffff;
	font-size: 0.8em;
	padding: 10px 30px;
	border-radius: 5px;
}

.main_cta_content .btn:hover {
    background-color: #0A3871;
}

.main_cta_content_spacer {
	max_width: 1300px;
	margin: 0 auto;
	padding: 160px 40px;
}